/*=========================================================
    skill 컨테이너 정의
=========================================================*/
.skill_container {
    width: 100%;
    height: 100vh;
    // background:#141414;
    background:#f9f9f9;
}

.skillContant_inner {
    width: 1800px;
    // height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.skill_card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 20px 10px 20px;
    width: 15rem;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.skill_card:hover {
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



/*=========================================================
    각 스킬명 배경색 지정
=========================================================*/
// HTML
.skill_card .skill_card_header_1 {
    position: relative;
    background-color: #eb6c3f;
    height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// CSS
.skill_card .skill_card_header_2 {
    position: relative;
    background-color: #2465f1;
    height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 자바스크립트
.skill_card .skill_card_header_3 {
    position: relative;
    background-color: #f9d506;
    height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 제이쿼리
.skill_card .skill_card_header_4 {
    position: relative;
    background-color: #0868ac;
    height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}


.skill_card .skill_card_header_1 .skill_card_icon,
.skill_card .skill_card_header_2 .skill_card_icon,
.skill_card .skill_card_header_3 .skill_card_icon,
.skill_card .skill_card_header_4 .skill_card_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
    transition: transform 0.5s;
}

.skill_card:hover .skill_card_header_1,
.skill_card:hover .skill_card_header_2,
.skill_card:hover .skill_card_header_3,
.skill_card:hover .skill_card_header_4 {
    // height: 40px;
    height: 0;
}

.skill_card:hover .skill_card_header_1 .skill_card_icon,
.skill_card:hover .skill_card_header_2 .skill_card_icon,
.skill_card:hover .skill_card_header_3 .skill_card_icon,
.skill_card:hover .skill_card_header_4 .skill_card_icon {
    transform: translateX(-50%) translateY(-50%) scale(3);
}



.skill_card:hover .skill_card_body {
    height: 170px;
}

.skill_card .skill_card_body {
    height: 40px;
    transition: height 0.5s;
    overflow: hidden;
}


/*=========================================================
    스킬 타이틀
=========================================================*/
.skill_card .skill_card_body .skill_card_title {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Chosunilbo_myungjo';
    text-transform: uppercase;
}


/*=========================================================
    호버 시 나오는 텍스트
=========================================================*/
.skill_card .skill_card_body .skill_card_knowledge {
    margin-top: 10px;
    color: #9E9E9E;
}

.skill_card .skill_card_body .skill_card_knowledge li {
    margin-top: 5px;
    font-family: 'Chosunilbo_myungjo';
    font-weight: 600;
    transition-duration: 0;
    transition-delay: 0.5s;
    transform: translateX(-100%);
}

.skill_card:hover .skill_card_body .skill_card_knowledge li {
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
    transition-duration: 0.5s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(1) {
    transition-delay: 0.25s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(2) {
    transition-delay: 0.5s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(3) {
    transition-delay: 0.75s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(4) {
    transition-delay: 1s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(5) {
    transition-delay: 1.25s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(6) {
    transition-delay: 1.5s;
}