.fp-overflow{
    height:100vh;
    display:flex;
    align-items: center;    
}

/*=========================================================
    skill 컨테이너 정의
=========================================================*/
.skill_container {
    width: 100%;
    height: 100vh;
    // background:#141414;
    background:#f9f9f9;
}

.skillContant_inner {
    width: 1800px;
    // height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;
    gap: 20px;

    margin-top:60px;
    margin-bottom:60px;
}


.skill_card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 20px 10px 20px;
    // width: 15rem;
    width: 17.5rem;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}


.down_1{
    top:75%;
}



/*=========================================================
    각 스킬명 배경색 지정
=========================================================*/
// HTML
.skill_card .skill_card_header_1 {
    position: relative;
    background-color: #eb6c3f;
    height: 210px;
    // height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// CSS
.skill_card .skill_card_header_2 {
    position: relative;
    background-color: #2465f1;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 자바스크립트
.skill_card .skill_card_header_3 {
    position: relative;
    background-color: #f9d506;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 제이쿼리
.skill_card .skill_card_header_4 {
    position: relative;
    background-color: #0868ac;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 부트스트랩
.skill_card .skill_card_header_5 {
    position: relative;
    background-color: #ddc1fc;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// 리엑트
.skill_card .skill_card_header_6 {
    position: relative;
    background-color: #282c35;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// Sass
.skill_card .skill_card_header_7 {
    position: relative;
    background-color: #eab8d1;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// Node.js
.skill_card .skill_card_header_8 {
    position: relative;
    background-color: #80bd01;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// MySQL
.skill_card .skill_card_header_9 {
    position: relative;
    background-color: #4479a1;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// Git
.skill_card .skill_card_header_10 {
    position: relative;
    background-color: #e2d4b9;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// Slack
.skill_card .skill_card_header_11 {
    position: relative;
    background-color: #3d0d25;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}

// Figma
.skill_card .skill_card_header_12 {
    position: relative;
    background-color: #121631;
    height: 210px;
    margin: -20px -20px 20px -20px;
    transition: height 0.5s;
    overflow: hidden;
}



/*=========================================================
    공통 정의
=========================================================*/
.skill_card_header_1 .skill_card_icon,
.skill_card_header_2 .skill_card_icon,
.skill_card_header_3 .skill_card_icon,
.skill_card_header_4 .skill_card_icon,
.skill_card_header_5 .skill_card_icon,
.skill_card_header_6 .skill_card_icon,
.skill_card_header_7 .skill_card_icon,
.skill_card_header_8 .skill_card_icon,
.skill_card_header_9 .skill_card_icon,
.skill_card_header_10 .skill_card_icon,
.skill_card_header_11 .skill_card_icon,
.skill_card_header_12 .skill_card_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
    transition: transform 0.5s;
}


.skill_card:hover .skill_card_header_1,
.skill_card:hover .skill_card_header_2,
.skill_card:hover .skill_card_header_3,
.skill_card:hover .skill_card_header_4,
.skill_card:hover .skill_card_header_5,
.skill_card:hover .skill_card_header_6,
.skill_card:hover .skill_card_header_7,
.skill_card:hover .skill_card_header_8,
.skill_card:hover .skill_card_header_9,
.skill_card:hover .skill_card_header_10,
.skill_card:hover .skill_card_header_11,
.skill_card:hover .skill_card_header_12 {
    // height: 40px;
    height: 0;
}


.skill_card:hover .skill_card_header_1 .skill_card_icon,
.skill_card:hover .skill_card_header_2 .skill_card_icon,
.skill_card:hover .skill_card_header_3 .skill_card_icon,
.skill_card:hover .skill_card_header_4 .skill_card_icon, 
.skill_card:hover .skill_card_header_5 .skill_card_icon,
.skill_card:hover .skill_card_header_6 .skill_card_icon,
.skill_card:hover .skill_card_header_7 .skill_card_icon,
.skill_card:hover .skill_card_header_8 .skill_card_icon,
.skill_card:hover .skill_card_header_9 .skill_card_icon,
.skill_card:hover .skill_card_header_10 .skill_card_icon,
.skill_card:hover .skill_card_header_11 .skill_card_icon,
.skill_card:hover .skill_card_header_12 .skill_card_icon {
    transform: translateX(-50%) translateY(-50%) scale(3);
}



.skill_card:hover .skill_card_body {
    // height: 170px;
    // height: 210px;
    height:240px;
}



.skill_card .skill_card_body {
    height: 30px;
    transition: height 0.5s;
    overflow: hidden;
}


/*=========================================================
    스킬 타이틀
=========================================================*/
.skill_card .skill_card_body .skill_card_title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Chosunilbo_myungjo';
    // text-transform: uppercase;
}


/*=========================================================
    호버 시 나오는 텍스트
=========================================================*/
.skill_card .skill_card_body .skill_card_knowledge {
    margin-top: 10px;
    color: #9E9E9E;
}

.skill_card .skill_card_body .skill_card_knowledge li {
    font-size:12px;
    margin-top: 5px;
    font-family: 'Chosunilbo_myungjo';
    font-weight: 600;
    transition-duration: 0;
    transition-delay: 0.5s;
    transform: translateX(-100%);
    line-height: 14px;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li {
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
    transition-duration: 0.5s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(1) {
    transition-delay: 0.25s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(2) {
    transition-delay: 0.5s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(3) {
    transition-delay: 0.75s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(4) {
    transition-delay: 1s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(5) {
    transition-delay: 1.25s;
}

.skill_card:hover .skill_card_body .skill_card_knowledge li:nth-child(6) {
    transition-delay: 1.5s;
}



/*=========================================================
    페이지 스크롤 시 애니메이션 정의
=========================================================*/
.skill_box1, .skill_box2, .skill_box3, .skill_box4, .skill_box5,
.skill_box6, .skill_box7, .skill_box8, .skill_box9, .skill_box10,
.skill_box11, .skill_box12{
    opacity: 0;
    transform: translateY(50%);
    transition: .8s;
}


// HTML
.skill_box1.active_skill{
    opacity: 1;
    transform: translateY(0);
}


// CSS
.skill_box2.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

// 자바스크립트
.skill_box3.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.8s;
}

// 제이쿼리
.skill_box4.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.1s;
}

// 부트스트랩
.skill_box5.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.4s;
}

// 리엑트
.skill_box6.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.7s;
}

// Sass
.skill_box7.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.0s;
}

// Node.js
.skill_box8.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.3s;
}

// MySQL
.skill_box9.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.6s;
}

// 깃
.skill_box10.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.9s;
}

// 슬랙
.skill_box11.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 3.2s;
}

// 포토샵
.skill_box12.active_skill{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 3.5s;
}