@import '~include-media/dist/include-media';

.fp-overflow{
    height:100vh;
    display:flex;
    align-items: center;    
}

/*=========================================================
    About 컨테이너 정의
=========================================================*/
.about_container {
    width: 100%;
    height: 100vh;
    // background:#f9f9f9;
    background: #f5f5f5;
}

.aboutContant_inner {
    width: 1800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 3%;
}

// 타이틀
.about_title {
    font-family: 'Chosunilbo_myungjo';
    font-size: 36px;
}

.about_hello {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}




/*=========================================================
    왼쪽 레이아웃 정의
=========================================================*/
.about_left {
    width: 50%;
    // height:20vw;
}

.about_left img {
    width: 100%;
}


/*=========================================================
    오른쪽 레이아웃 정의
=========================================================*/
.about_right {
    width: 80%;
}

.av_p {
    font-family: 'Chosunilbo_myungjo';
    font-size: 30px;
    line-height: 1.8;
}

.av_1,
.av_2 {
    margin-top: 1.5rem;
}


// 호버 시 border-bottom 정의
.hv_text {
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.4;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #505050;
    font-weight: 500;
}

.hv_text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    // border-bottom:1px solid #000;
    border-bottom: 2px solid #000;
    width: 0;
}

.hv_text:hover::before {
    width: 100%;
}


/*=========================================================
    이력서 다운로드
=========================================================*/
.download_inner {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.download_btn {
    width: 150px;
    height: 50px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    font-size: 14px;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-weight: 600;
    border: 1px solid #ddd;
    padding: 20px 30px;
}

.download_btn:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}


/*=========================================================
    About 페이지 도달 시 이미지 애니메이션 정의
=========================================================*/
.about_left {
    opacity: 0;
    transform: translateX(-10%);
    transition: .8s;
}

.about_left.active_about_l {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}


/*=========================================================
    About 페이지 도달 시 텍스트 애니메이션 정의
=========================================================*/
.about_right {
    opacity: 0;
    transform: translateX(10%);
    transition: .8s;
}

.about_right.active_about_r {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
}



/*=========================================================
    반응형 기준점 정의
    2001, 1801, 1441, 1251, 1101, 1001, 
    901, 701, 545, 501, 376
=========================================================*/
@include media('<2001px') {
    .aboutContant_inner {
        width: 83%;
    }

    // 어바웃 타이틀 문구
    .about_title {
        font-size: 32px;
    }

    // 어바웃 상세 내용
    .av_p {
        font-size: 24px;
    }
}


@include media('<1801px') {
    .aboutContant_inner {
        width: 78%;
        gap: 70px;

        // 2022-12-11 노트북에서 추가
        margin-top: 5%;
    }

    // 어바웃 타이틀 문구
    .about_title {
        font-size: 28px;
    }

    // 어바웃 상세 내용
    .av_p {
        font-size: 22px;
    }

    // 버튼
    .download_btn {
        width: 120px;
    }
}


@include media('<1441px') {
    .aboutContant_inner {
        gap: 50px;

        // 2022-12-11 노트북에서 추가
        margin-top: 6%;
    }

    .about_left {
        width: 60%;
    }

    // 어바웃 타이틀 문구
    .about_title {
        font-size: 24px;
    }

    // 어바웃 상세 내용
    .av_p {
        font-size: 18px;
    }
}


@include media('<1271px') {
    .about_title{
        font-size:22px;
    }
}


@include media('<1251px') {

    // 어바웃 타이틀 문구
    .about_title {
        font-size: 20px;
        line-height: 1.5;
    }

    // 어바웃 상세 내용
    .av_p {
        font-size: 16px;
    }

    .av_1,
    .av_2 {
        margin-top: 1.2rem;
    }

    // 버튼
    .download_btn {
        width: 100px;
        font-size: 12px;
        padding: 15px 20px;
    }

    .download_inner {
        margin-top: 1.8rem;
        margin-bottom: 0;
    }
}


@include media('<1101px') {
    .header_gnb {
        width: 500px;
    }

    .about_left {
        width: 100%;
    }

    // 어바웃 상세 내용
    .av_p {
        font-size: 14px;
    }
}


@include media('<1001px') {
    .header_gnb {
        width: 450px;
    }

    .aboutContant_inner {
        width: 74%;
    }

    .av_1,
    .av_2 {
        margin-top: 0.5rem;
    }
}


@include media('<901px') {
    *::-webkit-scrollbar {
        display: none;
    }

    // 원페이지 앵커 정의
    #fp-nav.fp-right {
        right: 9px;
    }

    .aboutContant_inner {
        width: 90%;
        flex-direction: column;
        gap: 15px;
        margin-top:0;

        height: calc(100vh - 180px);
    }

    .about_left,
    .about_right {
        width:65%;
        // width: 80%;
        // width: 90%;
    }

    .about_title {
        // font-size: 18px;
        font-size: 20px;
    }

    .av_p {
        font-size: 18px;
    }

    .download_btn {
        padding: 12px 15px;
        font-size: 10px;
    }

    .download_inner {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .about_left,
    .about_left.active_about_l {
        opacity: 1;
        transform: none;
        text-align: center;
    }

    .about_right,
    .about_right.active_about_r {
        opacity: 1;
        transform: none;
    }
}


@include media('<769px'){

}


@include media('<701px'){
    .aboutContant_inner{
        // margin-top:180px;
    }

    .about_left, .about_right{
        width:90%;
    }
}


@include media('<545px') {
    // 추가
    .aboutContant_inner{
        // margin-top:150px;
    }

    #fp-nav.fp-right{
        right:0;
    }
}


@include media('<501px') {
    // 추가
    .aboutContant_inner{
        margin-top:0;
    }

    .about_left,
    .about_right {
        width: 95%;
    }

    .about_title {
        font-size: 16px;
    }

    .av_p {
        font-size: 14px;
    }

    .icon,
    .icon:before,
    .icon:after {
        width: 1.5rem;
    }
}

@include media('<376px') {
    // 추가
    .aboutContant_inner{
        // margin-top:20px;
    }
}